Cython==0.29.21
h5py==2.10.0
jupyterlab==3.0.12
jupyter-innotater==0.2.2
matplotlib==3.1.1
numpy==1.19.2
opencv-python-headless==4.4.0.44
pandas==0.25.3
ipywidgets
jupyter_contrib_nbextensions
